<div class="fullWidth topMenu"><nav>
		 		<ul class="topMenuLink">
		 			<li><a href="#/data" id="closepop">Back</a></li>
		 		</ul>
		 	</nav>
	</div>
<div id="mainChartHolder">
		<h2>Detailed Charts for {{ChartHeader}}</h2>
		<div id="topLeftChart" class="chart1"></div>
		<div class="clearer"></div>
		<div class="midDiv">
		  <div>
	      <input id="chartTypeDetailed" type="radio" name="chartTypeDetailed" value="bar" checked>Bar
	      <input id="chartTypeDetailed" type="radio" name="chartTypeDetailed" value="line">Line
	      <input id="chartTypeDetailed" type="radio" name="chartTypeDetailed" value="column">Column
	      <input id="chartTypeDetailed" type="radio" name="chartTypeDetailed" value="area">Area
		  </div>
		  
	     </div>
		
</div>

