<div class="fullWidth topMenu"><nav>
		 		<ul class="topMenuLink">
		 			<li><a href="#/data" id="closepop">Back</a></li>
		 		</ul>
		 	</nav>
	</div>
<div id="mainChartHolder">
		<h2>Detailed Charts for {{ChartHeader}}</h2>
		<div id="topLeftChart" class="agriChart chartpageClass"></div><div  id="topRightChart" class="educChart chartpageClass"></div>
		<div class="clearer"></div>
		<div id="botLeftChart" class="finaChart chartpageClass"></div><div  id="botRightChart" class="healtChart chartpageClass"></div>
</div>

